<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.activitylifecycledemo">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".SevenActivity" />
        <activity android:name=".SixActivity" />
        <activity android:name=".FiveActivity" /> <!-- Clear Top Flag -->
        <activity
            android:name=".FourActivity"
            android:launchMode="singleTop" /> <!-- SingleTop Activity -->
        <activity
            android:name=".ThreeActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.AppCompat.Dialog" /> <!-- Dialog Activity -->
        <activity android:name=".TwoActivity" /> <!-- Activity with AlertDialog -->
        <activity android:name=".OneActivity" /> <!-- Simple Activity -->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>